@use './../styles/components/responsive' as *;

.header {
  grid-row: 1/2;
  grid-column: 1/1;

  padding: 0 0.5rem;
  height: 70px;

  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;

  > div {
    height: 100%;
  }


}

.logo {
  column-gap: 0.5rem;

  figure {
    column-gap: 0.5rem;

    figcaption {
      position: relative;
      color: #fc77ff;
      font-size: 1.15rem;
      font-variation-settings: 'wght' 700, 'dots' 4;

      &:after {
        content: 'TESTNET';
        font-size: 8px;
        position: absolute;
        right: 0;
        top: -0.5rem;
        background-color: #f4f4f4;
        color: #7d7d7d;
        padding: 0.01rem 0.2rem;
        border-radius: 0.75rem;
      }
    }
  }
}

@include medium-down() {
  .logo {
    img {
    }
  }
}
