.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  padding-top: 1rem;
}

.dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid red;
  width: 100%;
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.whitelist-container {
}

.filter-profile {
  background-color: #f8fafb;
  padding: 1rem;
  border-radius: var(--global-border-radius);
  max-height: 140px;
  overflow-y: auto;

  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 999;

  > div {
    &:not(:first-child) {
      margin-top: 0.5rem;
    }
  }

  button {
    border-radius: var(--global-border-radius);
  }

  figure {
    border-radius: var(--global-border-radius);
    padding: 0.4rem;
    width: 48px;
    height: 48px;
    min-width: 48px;
    max-height: 48px;
    &:hover {
      background: #eef3f6;
    }
    img {
      border-radius: var(--global-border-radius);
    }
  }
}

.selected-whitelist {
  margin: 1rem 0;
  overflow: hidden;

  button {
    width: 24px;
    height: 24px;
    color: #9cb6c9;
    background-color: transparent;

    &:hover {
      span {
        transform: scale(1.3);
      }
    }

    span {
      font-size: 15px;
      transition: all .1s ease-in-out;
    }
  }

  > div {
    background: #fafafa;
    padding-right: 0.5rem;
    border:1px solid #EEF3F6;
    border-radius: 999px;

    figure {
      min-width: 48px;
      max-height: 48px;
      border-radius: 999px;
      background-color: #ccc;
      overflow: hidden;

      img {
        width: 48px;
        height: 48px;
        border-radius: inherit;
      }
    }
    &:not(:first-child) {
    }
  }
}

.active {
  background-color: var(--color-primary);
  color: var(--white);
}

.product {
  gap: 1rem;
  isolation: isolate;

  &__item {
    padding: 4px;

    figure {
      background-color: #f6f6f6;
      padding: 2em;
      height: 200px;
      border-radius: 12px;

      img {
        height: auto;
      }
    }

    h1 {
      color: #10b245;
      font-size: calc(0.9em + 0.1vw);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    ul {
      font-family: var(--ff-vazir);
    }

    button {
      width: 43px;
      height: 43px;
    }

    &__price {
      small {
      }
    }
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert(100%);
  }
}
