@import './../styles/components/responsive';

.section {
  padding: 0 16px;
  height: 100%;
  background-color: var(--global-background-color);
  isolation: isolate;
  
  form {
    gap: 1rem;
  }

  .container {
    height: 100%;
  }




  .pageTitle {
    position: absolute;
    top: 1rem;
    z-index: 1;
    font-weight: bold;
    text-align: center;
    font-size: min(3rem, 5vw);
    text-wrap: balance;
    // @include small-down() {
    //   font-size:
    // }

    span {
      color: var(--color-primary);
    }
  }
}
.form {
  background: #F5F8FA
}
.selectBox {
  gap:.5rem;

  li {
    width: 100%;
  }
  select {
    width: 100%;
    height: 49px;
  }
}

.profile-container {
  background-color: var(--global-background-color);
  height: 100px;;
  width: 100%;
}