@import './../styles/components/responsive';

.section {
  height: 100%;
  isolation: isolate;

  &__container {
    height: 100%;
    overflow: hidden;
    gap: 0;
  }

  ul {
    margin-top: 3rem;
    column-gap: 2.5rem;
    li {
      column-gap: 0.5rem;
      a {
        font-weight: 600;
        font-size: 17px;
      }

      a,
      span {
        color: var(--color-primary);
      }
    }
  }

  span.coin {
    width: 14px;
    height: 14px;
    background: #c6d4da;
    border: 0.5px solid #a4b5bd;
    box-shadow: 0px 0px 0px 1px #afc2c9;
    border-radius: 999px;
  }

  figure {
    img {
      width: 35vw;
    }
  }
}

.tapContainer {
  position: relative;
  background-color: #0f0f0f;
  padding: 1.5rem 1rem 0 1rem;
  overflow: hidden;
  width: 100%;
  height: 100%;
  isolation: isolate;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: -2rem;
    height: 70vh;
    width: 100%;
    background-image: url('./../assets/web.svg');
    background-repeat: no-repeat;
    z-index: -1;
  }
}

.tour {
  margin-top: 1rem;
  width: 90%;
  padding: 0.4rem 1rem;
  background: var(--color-primary);
  border-radius: var(--global-border-radius);

  figure {
    column-gap: 1rem;

    figcaption {
      font-weight: 600;
      font-size: 1.2em;
      line-height: 1.2rem;
    }

    img {
      height: 48px;
      width: auto;
    }
  }

  button {
    height: 36px;
    width: 95px;
    font-weight: 700;
  }
}

.point {
  li {
    column-gap: 0.5rem;

    span {
      font-weight: 900;
      font-size: 3rem;
      leading-trim: both;
      text-edge: cap;
      display: flex;
      align-items: center;
      text-align: center;
    }
  }
}

.energy {
  width: 100%;
  progress {
    width: 70%;
    border-radius: 999px;
    width: 80%;
    height: 0.7rem;
    &::-webkit-progress-bar {
      background-color: #1e1e1e;
      border-radius: 999px;
    }
    &::-webkit-progress-value {
      background-color: var(--white);
      border-radius: 999px;
    }
  }
}

.tap {
  position: relative;
  z-index: 999px;
  cursor: url('./assets/bloody-knife.cur'), pointer;
  transition: all 0.1s ease-in-out;

  &:active {
    transform: scale(0.95) rotate(-4deg);
  }
}

.drop {
  width: 0.4em;
  height: 0.4em;
  border-radius: 0 100% 100% 100%;
  background-color: red;
  position: absolute;
  animation: drop 3s infinite both;

  &:nth-child(1) {
    left: 0%;
  }
}

@keyframes drop {
  0% {
    transform: translateY(0) scaleX(0.85) rotate(45deg);
    animation-timing-function: ease-out;
  }
  60% {
    transform: translateY(120%) scaleX(0.85) rotate(45deg);
    animation-timing-function: ease-in;
    width: 0.8em;
    height: 0.8em;
  }
  80%,
  100% {
    transform: translateY(60vh) scaleX(0.85) rotate(45deg);
    width: 1em;
    height: 1em;
  }
}

.universal-profile {
}

.universal-profile-slider {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  isolation: isolate;

  &:hover {
    div {
      &:nth-child(1) {
        margin: 0;
      }
  
      &:nth-child(2) {
        margin: 0 -25px;
      }
  
      &:nth-child(3) {
        margin: 0;
      }
  
      &:nth-child(4) {
        margin: 0 -25px;
      }
  
      &:nth-child(5) {
        margin: 0;
      }
    }
  }

  div {
    align-items: center;
    background: hsla(0, 0%, 100%, 0.6);
    border-radius: 11px;
    box-shadow: 0 0.829px 2.487px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    height: 90px;
    justify-content: center;
    transition: all 0.5s ease;
    width: 85px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    &:nth-child(1) {
      z-index: 1;
      height: 60px;
      background-size: 80%;
      background-color: #E1F5FE;
      background-image: url('https://ipfs.io/ipfs/bafkreie6ihvaarou2vd7xutyjxba3knq2oaqpptzyyuyzl6hbf4u4o6ciy');
    }

    &:nth-child(2) {
      margin: 0 -50px;
      z-index: 2;
      height: 80px;

      background-image: url('https://ipfs.io/ipfs/QmTHBAtweTcnpcbmHz8S5sKrd2VszBnRM5wjTNA6rnEhEE');
    }

    &:nth-child(3) {
      background-color: var(--white);
      z-index: 3;
      box-shadow: 0px 0px 32px rgba(63, 93, 116, 0.1), 0px 0px 18.46px rgba(63, 93, 116, 0.068), 0px 0px 11.9px rgba(63, 93, 116, 0.05), 0px 0px 9.39px rgba(63, 93, 116, 0.033);
      background-image: url('https://ipfs.io/ipfs/bafkreifzajflcehakjdl3rjupdkstc57nx7hvhbwucjqlhylpzhusa2dji');
      img {
        width: 40px;
      }
    }

    &:nth-child(4) {
      margin: 0 -50px;
      z-index: 2;
      height: 80px;

      background-image: url('https://api.universalprofile.cloud/ipfs/bafybeiem5kdrxt3msaej26p5jjqckcvumgctedckgw7l2iexnjhxsebbqi');
    }

    &:nth-child(5) {
      z-index: 1;
      height: 60px;
      background-size: 100%;
      background-color: #E1F5FE;
      background-image: url('https://ipfs.io/ipfs/QmYknYqURYahY9VufEAssTux6hYTmQEkwqfmeyrgDN37ct');
    }
  }
}
