@import './../../../styles/components/responsive';

.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  --button-primary-hover: #383838;

  height: 100%;
  background: linear-gradient(0, var(--white, #fff) 70%, var(--color-tertiary) 100%);
  padding: 0.5rem;

  
}

// Whitelisted profile
.whitelisted-profile {
  background-color: #F7F9F9;
  padding: 1rem;
  border-radius: var(--global-border-radius);
}

.profile {
  > div {
    position: relative;
    background-image: url('../../../../public/quota-hero.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    isolation: isolate;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 80%;
      background: linear-gradient(to right, var(--white) 50%, transparent 100%);
      border-top-left-radius: var(--global-border-radius);
      border-bottom-left-radius: var(--global-border-radius);
      z-index: -1;
    }

    @include medium-down() {
      background-size: cover;
    }
  }

  small,
  i {
    font-size: 10px;
  }
}

.poll {
  p {
    max-width: 90%;
    text-wrap: balance;
  }

  small {
    color: #758ca39d;
    background-color: var(--LUKSO);
    color: var(--white);
    padding: 0.1rem 0.45rem;
    text-wrap: nowrap;
  }
}

ul.responses {
  li {
    padding: 0.45rem 1rem;
    margin: 0.25rem 0;
    height: 40px;
    cursor: help;

    span,
    b {
      will-change: transform;
      transition: transform 0.2s ease;
    }

    &:hover {
      background-color: var(--color-tertiary) !important;
    }
  }
}

.selected {
  border: 1px solid var(--color-primary);
  background-color: var(--color-tertiary);
}

.other {
  border: 1px solid var(--black-050);
  background-color: var(--black-025);
  opacity: 0.6;
}

figure.logo {
  background-color: var(--color-primary);
  border-radius: 999px;
  padding: 0.4rem;
  width: 32px;
  height: 32px;
  opacity: 0.5;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.card {
  position: relative;
  background-color: var(--whites);
  border-radius: var(--global-border-radius);
  border: 1px solid #f2f5f7;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.06);
  padding: 0 2rem;

  &__header {
    padding: 2rem 0 1rem 0;
  }

  &__body {
    padding: 0 0 1rem 0;
  }

  &__footer {
    padding: 1rem 0;
  }
}

.tags {
  span {
  }
}

.choices {
  li {
    border: 1px solid var(--black-050);
    padding: 0.4rem;
    border-radius: 999px;
    transition: all .2s ease-in-out ;

    &:not(&:first-child) {
      margin: 0.5rem 0;
    }

    &:hover {
      background-color: var(--color-tertiary);
    }
  }
}

label.radio {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  user-select: none;

  input {
    display: none;
    &:checked {
      + span {
        color: var(--color-primary);

        &:after {
          opacity: 1;
          transform: scale(1, 1);
        }
      }
    }
  }

  span {
    display: inline-block;
    position: relative;
    padding-left: 30px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;
      border: 1px solid var(--black-100);
      background: #fff;
    }

    &:after {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      position: absolute;
      left: 3px;
      top: 5.5px;
      transform: scale(0, 0);
      background: var(--color-primary);
      border-radius: 50%;
      opacity: 0;
      transition: all 0.2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
    }
  }
}

.info {
  font-size: 16px;
  opacity: 0.6;
}

.profile {
  p {
    max-width: 400px;
    text-wrap: balance;
  }
  figure {
    img {
    }
  }
}

.respond_profiles {
  position: relative;
  width: 60px;
  height: 32px;

  img {
    --r: 32px;

    border: 1px solid var(--global-border-color);
    width: var(--r);
    height: var(--r);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &:nth-child(1) {
      left: 0;
    }
    &:nth-child(2) {
      left: 25%;
    }
    &:nth-child(3) {
      left: 50%;
    }
  }
}

.payable {
  column-gap: 0.4rem;
}

.badge {
  font-size: 9px;
  padding: 0.1rem 0.4rem;
  border-radius: 999px;

  &:nth-child(1) {
    background-color: var(--yellow);
    color: var(--white, #fff);
  }

  &:nth-child(2) {
    background-color: var(--color-primary);
    color: var(--white, #fff);
  }

  &:nth-child(3) {
    background-color: var(--area1);
    color: var(--white, #fff);
  }
}

.alert {
  background-color: var(--global-background-color, #f7f9f9);
  border-radius: var(--global-border-radius);
  padding: 1rem;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 0.5rem;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert(100%);
  }
}
